//colors

$mine-shaft: #272727;
$gray: #868686;
$scarlet: #f72b0c;
$cloud: #c6c1bd;
$froly: #f0776b;

$masala: #403d3b;
$dust-storm: #e4cdc9;
$natural-gray: #8b8a87;
$dusty-gray: #9c9c9c;
$sushi: #86b54a;

$sushi-vibrant: #86b648;
$chicago: #5d5d5c;
$thunderbird: #bf351f;
$black: #040404;
$burnt-sienna: #e97c62;

//spacing

//text
$text-xxs: 0.7rem;
$text-xs: 0.85rem;
$text-s: 0.9rem;
$text-normal: 1rem;
$text-l: 1.25rem;
$text-xl: 1.5rem;
$text-xxl: 2.5rem;
$text-xxxl: 3.5rem;
